.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}
.header__logo {
    height: 100px;
    object-fit: contain;
}

.header__icon {
    padding: 20px;
}
