button,
input {
  display: block;
  margin-bottom: 10px;
}
form{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
input{
  width: 100%;
}
#alert {
  color: red;
  margin-bottom: 10px;
}
label{
    color: black;
    /* display: flex; */
    align-items: center;
    padding-top: 10px;
    margin: 5px;
    font-weight: 700;
}